.btn
  background-color: transparent
  font-size: 14px
  user-select: none
  cursor: pointer

  &_border
    padding: 10px
    border: 1px solid $grey
    color: $grey

  &_red
    background-color: $redLight
    color: white

  &_small
    padding: 12px
    font-size: 12px
    text-transform: uppercase