// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

$grey: #9a9a9a
$greyLight: #cdcdcd
$black: #131313
$red: #f03a3e

$yellowLight: #fbdc88
$blueLight: #a3d7d1
$redLight: #f6898b

.bg-yellow-l
  background-color: $yellowLight
.bg-blue-l
  background-color: $blueLight
.bg-red-l
  background-color: $redLight

+font('museo100', museosanscyrl-100)
+font('museo300', museosanscyrl-300)
+font('museo300ital', museosanscyrl-300italic)
+font('museo500', museosanscyrl-500)
+font('museo500ital', museosanscyrl-500italic)
+font('museo700', museosanscyrl-700)
+font('museo900', museosanscyrl-900)

=h100
  font-family: 'museo100', Arial, sans-serif

=h300
  font-family: 'museo300', Arial, sans-serif

=h300i
  font-family: 'museo300ital', Arial, sans-serif

=h500
  font-family: 'museo500', Arial, sans-serif

=h500i
  font-family: 'museo500ital', Arial, sans-serif

=h700
  font-family: 'museo700', Arial, sans-serif

=h900
  font-family: 'museo900', Arial, sans-serif

body
  +h300
  font-family: Arial, sans-serif
  font-size: 14px
  line-height: 1.4
  color: $black
  min-width: 1280px

a
  color: $black
  text-decoration: none
  cursor: pointer

img
  width: 100%

.container
  width: 950px
  margin: 0 auto

//main styles

.top-line
  margin-top: 30px
  margin-bottom: 10px
  text-align: right

.logo
  margin: 0 auto
  width: 400px
  
.quote
  display: flex
  justify-content: center

  +h300
  padding: 280px 0 30px
  background: url("../img/polygon.svg") no-repeat
  background-size: cover
  text-align: left
  font-size: 30px
  color: #fff

  &__quotes
    +h300i
    margin-left: -30px
    font-size: 35px
    &:last-child
      margin-left: 0
      margin-right: -30px
      text-align: right

  span
    width: 580px

  &__autor
    text-align: right
    font-size: 23px

.project-map
  margin: 10px auto
  max-width: 750px

.title
  +h300
  color: #fff
  font-size: 25px
  line-height: 1
  text-transform: uppercase

.social

  &__list
    display: flex
    flex-direction: row

  &__el
    margin-left: 13px

  &__link
    display: block