.ico
  display: inline-block
  vertical-align: middle

  &_person
    background: url(../img/ico-person.png)
    width: 17px
    height: 17px

  &_person-circle
    background: url(../img/ico-person-circle.png)
    width: 30px
    height: 30px

  &_info
    background: url(../img/ico-info.png)
    width: 30px
    height: 30px

  &_fb
    background: url(../img/ico-fb.png)
    width: 30px
    height: 30px

  &_tw
    background: url(../img/ico-twi.png)
    width: 30px
    height: 30px

  &_play
    background: url(../img/ico-play.png)
    width: 60px
    height: 60px

  &_fb-w
    background: url(../img/ico-fb-w.png)
    width: 37px
    height: 37px

  &_tw-w
    background: url(../img/ico-twi-w.png)
    width: 37px
    height: 37px

  &_vk-w
    background: url(../img/ico-vk-w.png)
    width: 37px
    height: 37px

  &_fb-g
    background: url(../img/ico-fb-g.png)
    width: 35px
    height: 35px

  &_vk-y
    background: url(../img/ico-vk-y.png)
    width: 35px
    height: 35px

  &_li
    background: url(../img/ico-li.png)
    width: 35px
    height: 35px

