.reg-item

  &__title
    text-align: center
    padding: 30px 0
    background: url("../img/polygon.svg") bottom center
    background-size: cover
    h2
      +h700
      font-size: 24px
      letter-spacing: 2px
      color: #fff
      text-transform: uppercase

  &__descr
    +h500
    padding: 30px 0
    font-size: 16px
    color: $black
    text-align: center

