.registration

  .list
    display: flex
    justify-content: space-between

    &__top
      min-height: 250px
      display: flex
      align-items: flex-end

    &__img
      width: 155px

    &__link
      text-transform: uppercase