.registration

  .list
    display: flex
    justify-content: space-between
    text-align: center
    margin-bottom: 90px


    &__top
      min-height: 250px
      display: flex
      align-items: flex-end
      justify-content: center

    &__img
      width: 155px

    &__link
      +h500
      display: block
      padding: 10px 50px
      width: 237px
      font-size: 18px
      text-transform: uppercase
      color: #fff