<footer class="footer">

  <div class="container">

    <div class="footer__wrap">
      <div class="footer__left">
        <div class="title">
          <h1>school<br> angels</h1>
        </div>
      </div>
      <div class="footer__right">
        <div class="social">
          <ul class="social__list">
            <li class="social__el">
              <a href="#" class="social__link">
                <i class="ico ico_fb-w"></i>
              </a>
            </li>

            <li class="social__el">
              <a href="#" class="social__link">
                <i class="ico ico_tw-w"></i>
              </a>
            </li>

            <li class="social__el">
              <a href="#" class="social__link">
                <i class="ico ico_vk-w"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</footer>