<header class="header">

  <div class="header__top">
    <div class="top-line container">

      <form action="#">
        <button class="btn">
          <i class="ico ico_person"></i>
          <span>увійти (кабінет)</span>
        </button>
      </form>

    </div>
  </div>

  <div class="header__center">
    <div class="logo">
      <img src="img/logo-big.svg" alt="Angels School Logo"/>
    </div>
  </div>

  <div class="header__bottom">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__el">
          <a href="#" class="nav__link is-active">головна</a>
        </li>

        <li class="nav__el">
          <a href="#" class="nav__link">про проект</a>
        </li>

        <li class="nav__el">
          <a href="#" class="nav__link">наша команда</a>
        </li>

        <li class="nav__el">
          <a href="#" class="nav__link">faq</a>
        </li>

        <li class="nav__el">
          <a href="#" class="nav__link">для змі</a>
        </li>

        <li class="nav__el">
          <a href="#" class="nav__link">контакти</a>
        </li>
      </ul>
    </nav>
  </div>

</header><!-- end header -->
