<header class="header-line">

  <div class="container">

    <div class="header-line__wrap">

      <div class="header-line__left">
        <div class="logo">
          <img src="img/logo-big.svg" alt="Angels School Logo"/>
        </div>
      </div>

      <div class="header-line__center">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__el">
              <a href="#" class="nav__link is-active">головна</a>
            </li>

            <li class="nav__el">
              <a href="#" class="nav__link">про проект</a>
            </li>

            <li class="nav__el">
              <a href="#" class="nav__link">наша команда</a>
            </li>

            <li class="nav__el">
              <a href="#" class="nav__link">faq</a>
            </li>

            <li class="nav__el">
              <a href="#" class="nav__link">для змі</a>
            </li>

            <li class="nav__el">
              <a href="#" class="nav__link">контакти</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header-line__right">

        <form action="#">
          <button class="btn">
            <i class="ico ico_person"></i>
            <span>увійти (кабінет)</span>
          </button>
        </form>

      </div>

    </div><!-- end header-line__wrap -->

  </div><!-- end container -->

</header><!-- end header-line -->
