<section class="section news">

  <div class="section__title">
    <div class="section__line"></div>
    <h3>новини</h3>
  </div>

  <div class="container">

    <ul class="list">

      <li class="list__el">

        <div class="event">

          <span class="event__date">
            <b>21</b>
            квітня 2016
          </span>

          <p class="event__text">У нас пройшла грандіозно кльова зістріч, про яку ми хочемо розказати вам</p>

          <p class="event__text event__text_light">А тут ми розповімо трішки подробиць для того, щоб вам захотілося перейти за посиланням нижче.</p>

          <a href="#" class="btn btn_border">
            детальніше
          </a>

        </div>

      </li>

      <li class="list__el">

        <div class="event">

          <span class="event__date">
            <b>25</b>
            квітня 2016
          </span>

          <p class="event__text">У нас пройшла грандіозно кльова зістріч, про яку ми хочемо розказати вам</p>

          <p class="event__text event__text_light">А тут ми розповімо трішки подробиць для того, щоб вам захотілося перейти за посиланням нижче.</p>

          <a href="#" class="btn btn_border">
            детальніше
          </a>

        </div>

      </li>

      <li class="list__el">

        <div class="event">

          <span class="event__date">
            <b>03</b>
            травня 2016
          </span>

          <p class="event__text">У нас пройшла грандіозно кльова зістріч, про яку ми хочемо розказати вам</p>

          <p class="event__text event__text_light">А тут ми розповімо трішки подробиць для того, щоб вам захотілося перейти за посиланням нижче.</p>

          <a href="#" class="btn btn_border">
            детальніше
          </a>

        </div>

      </li>
    </ul>

  </div><!-- end container-->

  <div class="video">
    <span>
      <p>
        відео-презентація
      </p>
      <p>
        <i class="ico ico_play"></i>
      </p>
    </span>

  </div>


</section><!-- end news -->