<section class="section registration">
  <div class="container">

    <div class="section__title">
      <div class="section__line"></div>
      <h3>реєстрація</h3>
    </div>

    <ul class="list">
      <li class="list__el">
        <div class="list__top">
          <div class="list__img">
            <img src="../img/angel.svg" alt="Man"/>
          </div>
        </div>

        <div class="list__bottom">
          <a href="#" class="list__link">
            реєстрація для ангелів
          </a>
        </div>
      </li>

      <li class="list__el">
        <div class="list__top">
          <div class="list__img">
            <img src="../img/teacher.svg" alt="Girl"/>
          </div>
        </div>

        <div class="list__bottom">
          <a href="#" class="list__link">
            реєстрація для шкіл
          </a>
        </div>
      </li>

      <li class="list__el">

        <div class="list__top">
          <div class="list__img">
            <img src="../img/child.svg" alt="Child"/>
          </div>
        </div>

        <div class="list__bottom">
          <a href="#" class="list__link">
            реєстрація для учнів
          </a>
        </div>
      </li>
    </ul><!-- end list -->

  </div><!-- end container -->



</section><!-- end registration -->