<section class="section registration">
  <div class="container">

    <div class="section__title">
      <div class="section__line"></div>
      <h3>реєстрація</h3>
    </div>

    <ul class="list">
      <li class="list__el">
        <div class="list__top">
          <div class="list__img">
            <img src="img/angel.svg" alt="Man"/>
          </div>
        </div>

        <div class="list__bottom">
          <a href="#" class="list__link bg-red-l">
            реєстрація для ангелів
          </a>
        </div>
      </li>

      <li class="list__el">
        <div class="list__top">
          <div class="list__img">
            <img src="img/teacher.svg" alt="Girl"/>
          </div>
        </div>

        <div class="list__bottom">
          <a href="#" class="list__link bg-yellow-l">
            реєстрація для шкіл
          </a>
        </div>
      </li>

      <li class="list__el">

        <div class="list__top">
          <div class="list__img">
            <img src="img/child.svg" alt="Child"/>
          </div>
        </div>

        <div class="list__bottom">
          <a href="#" class="list__link bg-blue-l">
            реєстрація для учнів
          </a>
        </div>
      </li>
    </ul><!-- end list -->

  </div><!-- end container -->

  <div class="quote">
    <span>
      <p class="quote__quotes">&laquo;</p>

      <p class="quote__text">
        Ми самі повинні вірити в те,
        <br>
        чому вчимо наших дітей.
      </p>

      <p class="quote__autor">Вудро Вільсон</p>

      <p class="quote__quotes">&raquo;</p>
    </span>
  </div>

</section><!-- end registration -->