<section class="section reviews">

  <div class="section__title">
    <div class="section__line"></div>
    <h3>відгуки</h3>
  </div>

  <div class="slider">

    <div class="swiper-container">

      <div class="swiper-wrapper">

        <div class="swiper-slide">

          <div class="slide container">

            <div class="slide__left">
              <p class="quotes">&laquo;</p>
              <span>School Angels — це найкращий досвід в моєму житті. Досягти чогось це одне задоволення, але мати змогу поділитися цим з дітьми та мати впевненість в тому, що тебе зрозуміють - це просто чудово!</span>
              <p class="quotes">&raquo;</p>
            </div>

            <div class="slide__right">
              <ul class="list">
                <li class="list__el">
                  <i class="ico ico_person-circle"></i>
                  <span>Марічка Василенко</span>
                </li>
                <li class="list__el">
                  <i class="ico ico_info"></i>
                  <span>виконавчий директор Global Partnership</span>
                </li>
                <li class="list__el">
                  <i class="ico ico_fb"></i>
                  <span>fb.com/marichka.vasylenko</span>
                </li>
                <li class="list__el">
                  <i class="ico ico_tw"></i>
                  <span>@marichka.vasylenko</span>
                </li>
              </ul>
            </div>

          </div>

        </div><!-- end swiper-slide -->

      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>

  </div><!-- end slider -->

</section><!-- end reviews--->