<section class="section subscribe">

  <div class="section__title">
    <div class="section__line"></div>
    <h3>підписатися на новини</h3>
  </div>

  <div class="div">
    <p class="subscribe__info">залиште нам свою адресу та ми обов”язково повідомимо вам, що у нас нового</p>
  </div>

  <form class="sub">
    <div class="sub__field">
      <input type="text"/>
    </div>
    <div class="sub__action">
      <button class="btn btn_red btn_small" type="submit">підписатися</button>
    </div>
  </form>

</section><!--end subscribe-->